* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
  background-color: #f3e4d7;
  padding: 10px;
}

/* height of the container */
.leaflet-container {
  height: 80vh;
  width: 100vh;
  border-radius: 2rem;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.MapContainer {
  padding: 20px;
  height: 100%;
  width: 100%;
  margin: 0 auto; /* This centers the container horizontally */
  display: flex;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
  align-items: center;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* HatchChart Code */
.modern-table-container {
  width: 92%;
  overflow-x: auto;
}

.modern-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #f5f5f5;
}

.modern-table th,
.modern-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.modern-table th:first-child {
  position: sticky; /* Make the first column sticky */
  left: 0;
  z-index: 1; /* Ensure it's above other elements */
  background-color: #4caf50;
}
.modern-table td:first-child {
  position: sticky; /* Make the first column sticky */
  left: 0;
  z-index: 1; /* Ensure it's above other elements */
  background-color: #ffffff;
}

.modern-table th {
  background-color: #4caf50;
  color: white;
  width: 150px;
}

.modern-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.modern-table tbody tr:hover {
  background-color: #ddd;
}

/* Solid color for table cells */
.modern-table td.solid-color {
  background-color: #00ff00; /* Green */
}

.banner {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
